<div class="container" style="text-align: center;">
    <div style="margin: 5%">
      <h1>Anuncios</h1>
    </div>
    <div>
      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width" *ngIf="edicion" style="width: 100%; margin-bottom: 20px">
          <mat-label>Id</mat-label>
          <input matInput formControlName="hcodigo" [readonly]="isReadonly" />
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>URL</mat-label>
          <input
            matInput
            placeholder="Ejem. https://www.youtube.com/"
            formControlName="hurl"
          />
          <mat-error *ngIf="form.controls['hurl']?.hasError('required')">
            La URL es obligatoria
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Descripcion</mat-label>
          <input
            matInput
            placeholder="Ej. Anuncio en el que se exponen enfermedades"
            formControlName="hdescripcion"
          />
          <mat-error *ngIf="form.controls['hdescripcion']?.hasError('required')">
            La descripción es obligatoria
          </mat-error>
        </mat-form-field>
  
      
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Crédito</mat-label>
          <input matInput placeholder="Ej. 10" formControlName="hcredito"/>
          <mat-error *ngIf="form.controls['hcredito']?.hasError('pattern')">
            Solo se permiten números
          </mat-error>
          <mat-error *ngIf="form.controls['hcredito']?.hasError('required')">
            El crédito es obligatorio
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Ingresos por Anuncio</mat-label>
          <input
            matInput
            placeholder="Ej: 100"
            formControlName="hingresos"
          />
          <mat-error *ngIf="form.controls['hingresos']?.hasError('pattern')">
            Solo se permiten números
          </mat-error>
          <mat-error *ngIf="form.controls['hingresos']?.hasError('required')">
            Los ingresos son obligatorios
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
            <mat-label>Duración (en minutos)</mat-label>
            <input
              matInput
              placeholder="Ej: 3"
              formControlName="hduracion"
            />
            <mat-error *ngIf="form.controls['hduracion']?.hasError('pattern')">
              Solo se permiten números
            </mat-error>
            <mat-error *ngIf="form.controls['hduracion']?.hasError('required')">
              La duración del vídeo es obligatoria
            </mat-error>
        </mat-form-field>
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="hidUsuario">
            <mat-option *ngFor="let food of listaUsuarios" [value]="food.idUsuario">
              {{ food.username }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['hidUsuario']?.hasError('required')">
            El usuario es obligatorio
          </mat-error>
        </mat-form-field>
  
      
        <div>
          <button mat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>