<div class="container my-4">
  <h1 class="text-center">Usuarios</h1>
  <div class="row">
    <ng-container *ngFor="let element of dataSource.data">
      <mat-card class="col-md-4 mb-4" style="margin: 0 20px">
        <mat-card-header>
          <mat-card-title>Username: {{ element.username }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Id: </strong> {{ element.idUsuario }}</p>
          <p><strong>Nombres: </strong> {{ element.nombres }}</p>
          <p><strong>Apellidos: </strong> {{ element.apellidos }}</p>
          <p><strong>Correo: </strong> {{ element.correo }}</p>
          <p>
            <strong>Sitio Web: </strong>
            <a href="{{ element.sitioWeb }}" target="_blank">{{
              element.sitioWeb
            }}</a>
          </p>
          <p><strong>Teléfono: </strong> {{ element.telefono }}</p>
          <p><strong>Nombre de Empresa: </strong> {{ element.nombreEmpresa }}</p>
          <p><strong>Es Premium: </strong> {{ element.esPremium }}</p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
