<div>
  <div><h1>Centros médicos</h1></div>

  <div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ctable">
      <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->

      <!-- Id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef>No.</th>
        <td mat-cell *matCellDef="let element">{{ element.idCentroMedico }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
      </ng-container>

      <!-- Cellpone Column -->
      <ng-container matColumnDef="Cellpone">
        <th mat-header-cell *matHeaderCellDef>Cellpone</th>
        <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
      </ng-container>

      <!-- Address Column -->
      <ng-container matColumnDef="Address">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element">{{ element.direccion }}</td>
      </ng-container>

      <!-- Specialties Column -->
      <ng-container matColumnDef="Specialties">
        <th mat-header-cell *matHeaderCellDef>Specialties</th>
        <td mat-cell *matCellDef="let element">{{ element.especialidades }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</div>
