<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo" width="40" class="d-inline-block align-text-top">
      Dermacheck
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" (click)="AcercadeNosotros()">Acerca de nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Planes()">Planes</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-person-circle"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
  <header class="header">
    <h1>Dermacheck</h1>
  </header>
  
  <div class="container content">
    <div class="row align-items-start">
      <!-- Imagen o Logo -->
      <div class="col-md-4 text-center logo">
        <img src="assets/DermacheckLogo.png" alt="DermaCheck Logo" class="img-fluid">
      </div>
  
      <!-- Sección de Descripción y Detalles -->
      <div class="col-md-8">
        <!-- Descripción principal -->
        <div class="section-card">
            <div class="section-title center">Dermacheck</div>
          <p>
            Dermacheck es una aplicación formada por alumnos de la Universidad Peruana de Ciencias Aplicadas (UPC), de la facultad de Ingeniería. Nuestra empresa propone una aplicación de reconocimiento de enfermedades dermatológicas, es decir, todo lo referente a enfermedades de la piel. Esta aplicación la hemos llamado DermaCheck, ya que ayuda a encontrar a detalle, mediante una fotografía los problemas dérmicos que podemos tener en nuestra piel. Con el fin de ayudar a las personas y que no sea demasiado tarde para ellos.
          </p>
        </div>
  
        <!-- Misión -->
        <div class="section-card">
          <div class="section-title">Misión:</div>
          <p>
            La misión de Innovaciones MediScan es principalmente, ayudar a las personas con los problemas dérmicos, para que puedan saber lo que están padeciendo y si es necesario tener que acudir a un médico para recibir un tratamiento.
          </p>
        </div>
  
        <!-- Visión -->
        <div class="section-card">
          <div class="section-title">Visión:</div>
          <p>
            Nuestra visión es reducir la cantidad de problemas dérmicos, en la mayoría de personas y que nuestra aplicación sirva de ayuda para todo el Perú y en un futuro a otros países también.
          </p>
        </div>
  
        <!-- Valores -->
        <div class="section-card">
          <div class="section-title">Valores:</div>
          <p>
            Nuestra empresa tiene como valores principales: la responsabilidad, puntualidad, seguridad y compromiso con nuestros usuarios, ya que a ellos les beneficiará todo lo que le puede ofrecer nuestra aplicación.
          </p>
        </div>
      </div>
    </div>
  </div>
  