.chart-container {
    width: 35%; /* Ajusta este valor según sea necesario */
    margin: 0 auto; /* Centra el gráfico horizontalmente */
    padding: 15px; /* Espacio alrededor del gráfico */
    box-sizing: border-box;
   }
  
   @media (max-width: 768px) {
  
    .chart-container {
     width: 100%;  
     padding: 10px;  
    }
   }
  
   .title-container {
    text-align: center;
    margin-bottom: 40px;  
    margin-top: 60px;   
   }
  
   .title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 2em;
    color: #333;
   }