<div class="container my-4">
  <h1 class="text-center">Roles</h1>
  <div class="row justify-content-center align-items-center">
    <ng-container *ngFor="let element of pagedData">
      <mat-card class="col-md-4 mb-4" style="margin: 0 20px">
        <mat-card-content>
          <p><strong>Id: </strong> {{ element.idRol }}</p>
          <p><strong>Nombre Rol: </strong> {{ element.nombreRol }}</p>
          <p><strong>Nombre de usuario: </strong> {{ element.user.username }}</p>
      
          
          <div class="btn-actions">
            <button mat-icon-button [routerLink]="['ediciones', element.idRol]">
              <mat-icon>edit</mat-icon>
            </button>

          
          </div>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

  <div class="paginator-container">
    <mat-paginator [length]="dataSource.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[3, 6,9]"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
 