<div class="container" style="text-align: center;">
  <div style="margin: 2%"><h1>Diagnósticos por tratamiento</h1></div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()">
      <mat-form-field class="example-full-width" *ngIf="edicion" style="width: 100%; margin-bottom: 20px">
        <mat-label>ID</mat-label>
        <input 
          matInput 
          formControlName="hidDiagxTrat" [readonly]= "isReadonly" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Diagnosticos</mat-label>
        <mat-select formControlName="hidDiagnostico">
          <mat-option *ngFor="let food of listaDiagnosticos" [value]="food.idDiagnostico">{{ food.idDiagnostico }}</mat-option>
        </mat-select>
      </mat-form-field>
      <br />
      <mat-form-field>
          <mat-label>Tratamientos</mat-label>
          <mat-select formControlName="hidTratamiento">
            <mat-option *ngFor="let food of listaTratamientos" [value]="food.idTratamiento">{{ food.idTratamiento }}</mat-option>

          </mat-select>
        </mat-form-field>
        <br />

      <div>
        <button mat-button class="custom-button">Registrar</button>
      </div>
      
    </form>
  </div>
</div>
