<div class="container my-4">
  <h1 class="text-center">Enfermedades</h1>
  <div class="row justify-content-center align-items-center">
    <ng-container *ngFor="let element of pagedData">
      <mat-card class="col-md-4 mb-4" style="margin: 0 20px">
        <mat-card-header>
          <mat-card-title>Nombre: {{ element.nombreEnfermedad }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Id: </strong> {{ element.idEnfermedad }}</p>
          <p><strong>Nombre: </strong> {{ element.nombreEnfermedad }}</p>
          <p><strong>Descripcion: </strong> {{ element.descripcion }}</p>
          <p><strong>Sintomas: </strong> {{ element.sintomas }}</p>
          <p>
            <button mat-raised-button [routerLink]="['ediciones', element.idEnfermedad]">
              <mat-icon>edit</mat-icon> Editar
            </button>
          </p>
          <p>
            <button mat-button (click)="eliminar(element.idEnfermedad)">
              <mat-icon>delete</mat-icon> Eliminar
            </button>
          </p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>

  <div class="paginator-container">
    <mat-paginator [length]="dataSource.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[3, 6]"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>