<div class="d-flex flex-column" *ngIf="verificar()">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      
      <button mat-button [routerLink]="'/homes'"> <img src="assets/logoDermacheck.png" style="width: 30px; height: auto; margin-right: 0px;" alt="Logo" > </button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown" *ngIf="isAdmin()">
            <a class="nav-link dropdown-toggle text-light" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <mat-icon>account_box</mat-icon> Usuarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
              <li><a class="dropdown-item" routerLink="/usuarios"><mat-icon class="iconos">list</mat-icon> Listar </a></li>
              <li><a class="dropdown-item" routerLink="/usuarios/insertar"><mat-icon class="iconos">add</mat-icon> Registrar</a></li>
              <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/usuarios/reportes"><mat-icon class="iconos">add</mat-icon> Reportes</a></li>
              <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/usuarios/reportes2"><mat-icon class="iconos">add</mat-icon> Reporte de Enfermedades</a></li>
              <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/usuarios/reportes3"><mat-icon class="iconos">bar_chart</mat-icon> Reportes de Diagnosticos</a></li>
              
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="isAdmin()">
            <a class="nav-link dropdown-toggle text-light" href="#" id="rolesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>assessment</mat-icon>Roles
            </a>
            <ul class="dropdown-menu" aria-labelledby="rolesDropdown">
              <li><a class="dropdown-item" routerLink="/roles"><mat-icon class="iconos">list</mat-icon> Listar </a></li>
              <li><a class="dropdown-item" routerLink="/roles/insertar"><mat-icon class="iconos">add</mat-icon> Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="isAdmin()">
            <a class="nav-link dropdown-toggle text-light" href="#" id="recuperacionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>cached</mat-icon> Recuperaciones
            </a>
            <ul class="dropdown-menu" aria-labelledby="recuperacionesDropdown">

              <li><a class="dropdown-item" routerLink="/recuperaciones"><mat-icon class="iconos">list</mat-icon> Listar </a></li>
              <li><a class="dropdown-item" routerLink="/recuperaciones/insertar"><mat-icon class="iconos">add</mat-icon> Registrar</a></li>

            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="diagnosticosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>healing</mat-icon>Diagnósticos
            </a>
            <ul class="dropdown-menu" aria-labelledby="diagnosticosDropdown">
              <li><a class="dropdown-item" routerLink="/diagnosticos/listar"><mat-icon class="iconos">list</mat-icon> Listar </a></li>
              <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/diagnosticos/registrar"><mat-icon class="iconos">add</mat-icon> Registrar</a></li>
              <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/diagnosticos/reportes"><mat-icon class="iconos"> pie_chart</mat-icon> Reportes</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="centrosmedicosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>local_hospital</mat-icon>CentrosMedicos
            </a>
            <ul class="dropdown-menu" aria-labelledby="centrosmedicosDropdown">
              <li><a class="dropdown-item" routerLink="/centros-medicos"><mat-icon class="iconos">list</mat-icon> Listar </a></li>
              <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/centros-medicos/insertar"><mat-icon class="iconos">add</mat-icon> Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="enfermedadesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>coronavirus</mat-icon>
              Enfermedades
            </a>
            <ul class="dropdown-menu" aria-labelledby="enfermedadesDropdown">
              <li><a class="dropdown-item" routerLink="/enfermedades"><mat-icon class="iconos">list</mat-icon> Listar </a></li>
              <li *ngIf="isAdmin() || isEspecialista()"><a class="dropdown-item" routerLink="/enfermedades/insertar"><mat-icon class="iconos">add</mat-icon> Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="isAdmin()">
            <a class="nav-link dropdown-toggle text-light" href="#" id="diagnosticosxTratamientosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>medication</mat-icon> DiagnósticosxTratamientos
            </a>
            <ul class="dropdown-menu" aria-labelledby="diagnosticosxTratamientosDropdown">
              <li><a class="dropdown-item" routerLink="/diagnosticos-tratamientos"><mat-icon class="iconos">list</mat-icon> Listar </a></li>
              <li><a class="dropdown-item" routerLink="/diagnosticos-tratamientos/insertar"><mat-icon class="iconos">add</mat-icon> Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="isAdmin() || isEmpresas()">
            <a class="nav-link dropdown-toggle text-light" href="#" id="anunciosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>business_center</mat-icon> Anuncios
            </a>
            <ul class="dropdown-menu" aria-labelledby="anunciosDropdown">
              <li><a class="dropdown-item" routerLink="/anuncios"><mat-icon class="iconos">list</mat-icon> Listar </a></li>
              <li *ngIf="isAdmin() || isEmpresas()"><a class="dropdown-item" routerLink="/anuncios/insertar"><mat-icon class="iconos">add</mat-icon> Registrar</a></li>
              <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/anuncios/reportes"><mat-icon class="iconos">bar_chart</mat-icon> Reportes</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="articulosdermatologicosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>health_and_safety</mat-icon>   Articulos Dermatologicos
            </a>
            <ul class="dropdown-menu" aria-labelledby="articulosdermatologicosDropdown">
              <li><a class="dropdown-item" routerLink="/articulos-dermatologicos"><mat-icon class="iconos">list</mat-icon> Listar </a></li>
              <li *ngIf="isAdmin() || isEspecialista()"><a class="dropdown-item" routerLink="/articulos-dermatologicos/insertar"><mat-icon class="iconos">add</mat-icon> Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="isAdmin() || isEspecialista()">
            <a class="nav-link dropdown-toggle text-light" href="#" id="articulosdermatologicosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <mat-icon>medical_services</mat-icon> Tratamientos
            </a>
            <ul class="dropdown-menu" aria-labelledby="articulosdermatologicosDropdown">
              <li><a class="dropdown-item" routerLink="/tratamientos"> <mat-icon class="iconos">list</mat-icon>Listar</a></li>
              <li><a class="dropdown-item" routerLink="/tratamientos/registrar"> <mat-icon class="iconos">add</mat-icon>Registrar</a></li>
              <li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="/tratamientos/reportes"><mat-icon class="iconos">bar_chart</mat-icon> Reportes</a></li>

            </ul>
          </li>
          <div class="right-menu">
            <button mat-button [matMenuTriggerFor]="menuSalir" style="color: rgb(255, 255, 255)">
              <mat-icon>person</mat-icon>Usuario
            </button>
          </div>

        </ul>
      </div>
    </div>
  </nav>

  <div class="content flex-grow-1">
    <router-outlet></router-outlet>
  </div>
 
<footer class="footer-container bg-white text-dark py-3 border-top">
  <div class="container d-flex justify-content-between align-items-center">
    <span class="footer-brand">
      <img src="assets/logoDermacheck.png" alt="Logo" style="width: 30px; height: auto; margin-right: 10px;" />
      Dermacheck
      <span style="color: rgb(255, 255, 255);"></span>
    </span>
    <span style="color: rgb(255, 255, 255);">Dermacheck, una empresa innovadora que revolucionará el sector médico.</span> 
    <div>
   
      <a href="https://www.facebook.com" target="_blank" class="text-dark me-3" aria-label="Facebook">
        <mat-icon>facebook</mat-icon>
      </a>
      <a href="https://www.instagram.com" target="_blank" class="text-dark me-3" aria-label="Instagram">
        <mat-icon>photo_camera</mat-icon>
      </a>
      <a href="https://www.twitter.com" target="_blank" class="text-dark" aria-label="Twitter">
        <mat-icon>alternate_email</mat-icon>
      </a>
    </div>
  </div>
</footer>
</div>
<mat-menu #menuSalir="matMenu">
  <button mat-menu-item (click)="cerrar()">
    <mat-icon>logout</mat-icon>
    <span>Cerrar sesión</span>
  </button>
  <button mat-menu-item>
    Username:
    <span style="color: rgb(17, 0, 255);">{{ username }}</span>
  </button>  
  <button mat-menu-item>
    Rol:
    <span style="color: rgb(0, 17, 255);">{{ role }}</span>
  </button>
</mat-menu>
<router-outlet></router-outlet>