<div class="d-flex">
  <nav class="sidebar bg-dark">
    <div class="navbar-brand text-light">Dermacheck</div>
    <ul class="navbar-nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/usuarios">Usuarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/roles">Roles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/recuperaciones">Recuperaciones</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/articulos-dermatologicos">Artículos dermatológicos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/anuncios">Anuncios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/centros-medicos">Centros médicos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/enfermedades">Enfermedades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/diagnosticos">Diagnosticos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/tratamientos">Tratamientos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-light" routerLink="/diagnosticos-tratamientos">Diagnosticos x Tratamientos</a>
      </li>
    </ul>
  </nav>

  <div class="content flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
