<div class="d-flex flex-column">
  <nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <div class="navbar-brand text-light">Dermacheck</div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="usuariosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuarios
            </a>
            <ul class="dropdown-menu" aria-labelledby="usuariosDropdown">
              <li><a class="dropdown-item" routerLink="/usuarios">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/usuarios/insertar">Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="rolesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Roles
            </a>
            <ul class="dropdown-menu" aria-labelledby="rolesDropdown">
              <li><a class="dropdown-item" routerLink="/roles">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/roles/insertar">Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="recuperacionesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Recuperaciones
            </a>
            <ul class="dropdown-menu" aria-labelledby="recuperacionesDropdown">
              <li><a class="dropdown-item" routerLink="/recuperaciones">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/recuperaciones/insertar">Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="diagnosticosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Diagnósticos
            </a>
            <ul class="dropdown-menu" aria-labelledby="diagnosticosDropdown">
              <li><a class="dropdown-item" routerLink="/diagnosticos/listar">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/diagnosticos/registrar">Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="centrosmedicosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              CentrosMedicos
            </a>
            <ul class="dropdown-menu" aria-labelledby="centrosmedicosDropdown">
              <li><a class="dropdown-item" routerLink="/centros-medicos">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/centros-medicos/insertar">Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="enfermedadesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Enfermedades
            </a>
            <ul class="dropdown-menu" aria-labelledby="enfermedadesDropdown">
              <li><a class="dropdown-item" routerLink="/enfermedades">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/enfermedades/insertar">Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="diagnosticosxTratamientosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              DiagnósticosxTratamientos
            </a>
            <ul class="dropdown-menu" aria-labelledby="diagnosticosxTratamientosDropdown">
              <li><a class="dropdown-item" routerLink="/diagnosticos-tratamientos">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/diagnosticos-tratamientos/insertar">Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="anunciosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Anuncios
            </a>
            <ul class="dropdown-menu" aria-labelledby="anunciosDropdown">
              <li><a class="dropdown-item" routerLink="/anuncios">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/anuncios/insertar">Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="articulosdermatologicosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Articulos Dermatologicos
            </a>
            <ul class="dropdown-menu" aria-labelledby="articulosdermatologicosDropdown">
              <li><a class="dropdown-item" routerLink="/articulos-dermatologicos">Listar</a></li>
              <li><a class="dropdown-item" routerLink="/articulos-dermatologicos/insertar">Registrar</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" routerLink="/login">Log In</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="content flex-grow-1">
    <router-outlet></router-outlet>
  </div>
</div>
