<body class="bg-gradient-primary">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/logo.png" alt="Logo" width="40" class="d-inline-block align-text-top">
                Dermacheck
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" (click)="AcercadeNosotros()"  h>Acerca de nosotros</a>
                    </li>
                    <li class="nav-item ">
                      <a class="nav-link active"(click)="Planes()">Ver Planes</a>
                      
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link"  ><i class="bi bi-person-circle"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
    <!-- Formulario de inicio de sesión -->
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <div class="card p-4 shadow" style="max-width: 400px; width: 100%; text-align: center; margin-top: 80px;">
        <div class="mb-4">
          <img src="assets/logo.png" alt="Logo de la empresa" class="img-fluid" style="max-width: 150px;">
        </div>
        <h2 class="mb-4">Inicie sesión</h2>
        <mat-form-field class="example-full-width w-100">
          <mat-label>Usuario</mat-label>
          <input matInput placeholder="Username" [(ngModel)]="username" />
        </mat-form-field>
        <br />
        <mat-form-field class="example-full-width w-100">
          <mat-label>Password</mat-label>
          <input type="password" matInput placeholder="Password" [(ngModel)]="password" />
        </mat-form-field>
        <br />
        <button mat-raised-button class="custom-button btn btn-primary w-100 mt-3" (click)="login()">Ingresar</button>
      </div>
    </div>
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
  