body {
    background: linear-gradient(180deg, #cfe7f3, #83bdf0);
    font-family: 'Arial', sans-serif;
    
}

.navbar-brand {
    font-weight: bold;
    color: #007bff;
}

.navbar-nav .nav-link {
    margin-left: 10px;
    font-weight: 500;
    color: #555;
    transition: color 0.3s;
    cursor: pointer;
}

 

.card {
    border-radius: 15px;
    background: white;
}


