<div class="container" style="text-align: center; margin: 10%">
  <div style="margin: 5%">
    <h1>Registro de Centros Medicos</h1>
  </div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()" style="display: flex; flex-direction: column; align-items: center;">
      <mat-form-field class="example-full-width" *ngIf="edicion" style="width: 100%; margin-bottom: 20px">
        <mat-label>Id</mat-label>
        <input matInput formControlName="hcodigo" [readonly]="isReadonly" />
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Nombre</mat-label>
        <input
          matInput
          placeholder="Ejem. Centro Medico Jose Olaya"
          formControlName="hnombre"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Teléfono</mat-label>
        <input
          matInput
          placeholder="Ej. 987456963"
          formControlName="htelefono"
        />
      </mat-form-field>

    
      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Dirección</mat-label>
        <input matInput placeholder="Av.Los Lirios 243" formControlName="hdireccion" />
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Especialidades</mat-label>
        <input
          matInput
          placeholder="Ej: Cardiología"
          formControlName="hespecialidades"
        />
      </mat-form-field>

    
      <div style="width: 100%; display: flex; justify-content: center;">
        <button mat-button class="custom-button" style="margin-top: 20px;">Registrar</button>
      </div>
    </form>
  </div>
</div>
