.container h1 {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 2.5em;
    margin-bottom: 25px;
}
.paginator-container{
    width: 500px;
    margin-left: auto;
    padding-bottom: 20%;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

mat-icon {
    font-size: 20px;
}