.container {
  max-width: 800px;
  margin: 5% auto;
  padding: 30px;
  background: #ffffff; /* Color de fondo similar al de la primera imagen */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.container h1 {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  color: #091389;
  font-size: 2.5em;
  margin-bottom: 30px;
}

mat-form-field {
  width: 100%;

  border-radius: 5px;
}

.container .custom-button {
  background-color: #00416a !important;
  color: white !important;
  border: none;
  color: #ffffff;
  font-family: "Merriweather", sans-serif;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.custom-button:hover {
  background-color: #ffffff;
}

.mat-form-field {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .col-md-6 {
    width: 100%;
  }
}
