<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="assets/logo.png" alt="Logo" width="40" class="d-inline-block align-text-top">
        Dermacheck
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" (click)="AcercadeNosotros()">Acerca de nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="Planes()">Planes</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="bi bi-person-circle"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="premium-plans-container">
    <h1 class="text-center text-white">Nuestros Planes</h1>
    <div class="plans d-flex justify-content-center align-items-center mt-5">
      <div class="plan text-center p-4">
        <h2 class="text-white">Versión Premium</h2>
        <p class="price text-white"><strong>S/. 19.90 / Año</strong></p>
        <ul class="list-unstyled text-white">
          <li>✓ No tendrá que usar anuncios para navegar en la web</li>
          <li>✓ Amplia y variada información en la biblioteca</li>
          <li>✓ Ya no hará uso de créditos para la navegación web</li>
        </ul>
        <button class="btn btn-primary">Seleccionar Plan</button>
      </div>
  
      <div class="plan text-center p-4">
        <h2 class="text-white">Versión Gratuita</h2>
        <p class="price text-white"><strong>Gratis</strong></p>
        <ul class="list-unstyled text-white">
          <li>✓ Tendrá que usar anuncios para navegar en la web</li>
          <li>✓ Limitada información en la biblioteca</li>
          <li>✓ Los créditos se obtendrán mediante la visualización de anuncios</li>
        </ul>
        <button class="btn btn-primary">Seleccionar Plan</button>
      </div>
    </div>
  </div>