<div class="container-fluid">
  <div class="row">
      <div class="col-2">
          <h1>DiagnósticosxTratamiento</h1>
      </div>
      <div class="col-4">
          <!-- Puedes añadir contenido adicional aquí si es necesario -->
      </div>
      <div class="col-6">
          <!-- Puedes añadir contenido adicional aquí si es necesario -->
      </div>
  </div>

  <div class="row">
      <div class="col-12">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ctable">
              <!-- Id Column -->
              <ng-container matColumnDef="Id">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element">{{ element.idDiagnosticoxTratamiento }}</td>
              </ng-container>

              <!-- PunctuationDiagnostic Column -->
              <ng-container matColumnDef="PunctuationDiagnostic">
                  <th mat-header-cell *matHeaderCellDef>Punctuation Diagnostic</th>
                  <td mat-cell *matCellDef="let element">
                      {{ element.diagnostico.puntuacion }}
                  </td>
              </ng-container>

              <!-- Name Treatment Column -->
              <ng-container matColumnDef="NameTratment">
                  <th mat-header-cell *matHeaderCellDef>Name Treatment</th>
                  <td mat-cell *matCellDef="let element">
                      {{ element.tratamiento.nombreTratamiento }}
                  </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
      </div>
  </div>
</div>
