<div class="container" style="text-align: center;">
    <div style="margin: 5%">
      <h1>Articulos Dermatologicos</h1>
    </div>
    <div>
      <form [formGroup]="form" (submit)="aceptar()">
        <mat-form-field class="example-full-width" *ngIf="edicion" style="width: 100%; margin-bottom: 20px">
          <mat-label>Id</mat-label>
          <input matInput formControlName="hcodigo" [readonly]="isReadonly" />
        </mat-form-field>

        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              placeholder="Ej. Informe dermatológico"
              formControlName="hnombre"
            />
            <mat-error *ngIf="form.controls['hnombre']?.hasError('required')">
              El nombre es obligatorio
            </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
            <mat-label>Tipo</mat-label>
            <input
              matInput
              placeholder="Ej. Informativo"
              formControlName="htipo"
            />
            <mat-error *ngIf="form.controls['htipo']?.hasError('required')">
              El Tipo es obligatorio
            </mat-error>
        </mat-form-field>
        
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
            <mat-label>Descripcion</mat-label>
            <input
              matInput
              placeholder="Ej. Articulo sobre enfermedades de la piel"
              formControlName="hdescripcion"
            />
            <mat-error *ngIf="form.controls['hdescripcion']?.hasError('required')">
              La Descripción es obligatoria
            </mat-error>
          </mat-form-field>

        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>URL</mat-label>
          <input
            matInput
            placeholder="Ejem. https://www.google.com/"
            formControlName="hurl"
          />
          <mat-error *ngIf="form.controls['hurl']?.hasError('required')">
            La URL es obligatoria
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Usuario</mat-label>
          <mat-select formControlName="hidUsuario">
            <mat-option *ngFor="let food of listaUsuarios" [value]="food.idUsuario">
              {{ food.username }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="form.controls['hidUsuario']?.hasError('required')">
            El usuario es obligatorio
          </mat-error>
        </mat-form-field>
      
        <div>
          <button mat-button class="custom-button">Registrar</button>
        </div>
      </form>
    </div>
  </div>