<div class="container my-4">
    <h1 class="text-center">Artículos dermatológicos</h1>
    <div class="row">
      <ng-container *ngFor="let element of pagedData"> 
        <mat-card class="col-md-4 mb-4" style="margin: 0 20px;">
            <mat-card-content>
                <p><strong>Nombre: </strong> {{ element.nombreRevista }}</p>
                <p><strong>Id Revista: </strong> {{ element.idArticulosDermatologico }}</p>
                <p><strong>Tipo: </strong> {{ element.tipoRevista }}</p>
                <p><strong>Url: </strong> <a href= "{{ element.url }}" target="_blank">{{ element.url }}</a></p>
                <p><strong>Descripción: </strong> {{ element.descripcion }}</p>
                <p><strong>Nombre de Usuario: </strong> {{ element.usuario.username }}</p>
                <div class="iconos">
                    <button mat-raised-button [routerLink]="['ediciones', element.idArticulosDermatologico]">
                        <mat-icon>edit</mat-icon> 
                    </button>
                
                    <button mat-button (click)="eliminar(element.idArticulosDermatologico)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
        </ng-container>
    </div>

    <div *ngIf="dataSource.length === 0" class="mensaje-vacio">
        <span style="color: rgb(184, 1, 1);">  {{ mensajeSinRegistros }}</span>
    </div>

    <div class="paginator-container">
        <mat-paginator [length]="dataSource.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[3, 6]"
                   (page)="onPageChange($event)"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>