<div class="container my-4">
  <h1 class="text-center">Artículos dermatológicos</h1>
  <div class="row">
    <ng-container *ngFor="let element of dataSource.data"> 
      <mat-card class="col-md-4 mb-4" style="margin: 0 20px;">
        <mat-card-header>
          <mat-card-title>{{ element.nombreRevista }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Tipo: </strong> {{ element.tipoRevista }}</p>
          <p><strong>Descripción: </strong> {{ element.descripcion }}</p>
          <p><strong>Url: </strong> <a href="{{ element.url }}" target="_blank">{{ element.url }}</a></p>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>
