<div class="container" style="text-align: center; display: block;">
  <div style="margin: 2%">
    <h1>Registro de Usuarios</h1>
  </div>
  <div>
    <form [formGroup]="form" (submit)="aceptar()" style="display: flex; flex-direction: column; align-items: center;">
      <mat-form-field class="example-full-width" *ngIf="edicion" style="width: 100%; margin-bottom: 20px">
        <mat-label>Id</mat-label>
        <input matInput formControlName="hcodigo" [readonly]="isReadonly" />
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Ejem. juliandiaz98" formControlName="husername" />
      </mat-form-field>
      <p class="error" *ngIf="form.controls['husername'].hasError('required') && form.controls['husername'].touched">
        Ingrese un usuario.
      </p>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="hpassword" type="password"/>
      </mat-form-field>
      <p class="error" *ngIf="form.controls['hpassword'].hasError('required') && form.controls['hpassword'].touched">
        La contraseña es obligatoria.
      </p>
      <p class="error" *ngIf="form.controls['hpassword'].hasError('minlength') && form.controls['hpassword'].touched">
        La contraseña debe tener al menos 8 caracteres.
      </p>
      <p class="error" *ngIf="form.controls['hpassword'].hasError('pattern') && form.controls['hpassword'].touched">
        La contraseña debe contener al menos una mayúscula y uno de los siguientes caracteres especiales: * _ - # $.
      </p>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Nombres</mat-label>
        <input matInput placeholder="Ejem. Jorge André" formControlName="hnombres" />
      </mat-form-field>
      <p class="error" *ngIf="form.controls['hnombres'].hasError('required') && form.controls['hnombres'].touched">
        El nombre es obligatorio.
      </p>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Apellidos</mat-label>
        <input matInput placeholder="Díaz Mendez" formControlName="hapellidos" />
      </mat-form-field>
      <p class="error" *ngIf="form.controls['hapellidos'].hasError('required') && form.controls['hapellidos'].touched">
        Los apellidos son obligatorios.
      </p>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Correo</mat-label>
        <input matInput placeholder="Ej. jorge@example.com" formControlName="hcorreo" />
      </mat-form-field>
      <p class="error" *ngIf="form.controls['hcorreo'].hasError('required') && form.controls['hcorreo'].touched">
        El correo es obligatorio.
      </p>
      <p class="error" *ngIf="form.controls['hcorreo'].hasError('email') && form.controls['hcorreo'].touched">
        Ingrese un correo válido.
      </p>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Teléfono</mat-label>
        <input matInput placeholder="Ej. 987456963" formControlName="htelefono" />
      </mat-form-field>
      <p class="error" style="color: red" *ngIf="form.controls['htelefono'].hasError('required') && form.controls['htelefono'].touched">
        El teléfono es obligatorio.
      </p>
      <p class="error" style="color: red" *ngIf="form.controls['htelefono'].hasError('pattern') && form.controls['htelefono'].touched">
        El teléfono debe comenzar con 9 y tener 9 dígitos.
      </p>

      <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
        <mat-label>Nombre empresa</mat-label>
        <input matInput placeholder="Ej. FadricStar" formControlName="hnombreEmpresa" />
      </mat-form-field>

      <mat-checkbox formControlName="hesPremium" style="width: 100%; margin-bottom: 20px; text-align: start;">
        ¿Es premium?
      </mat-checkbox>

      <div style="width: 100%; display: flex; justify-content: center;">
        <button mat-button class="custom-button" style="margin-top: 20px;">Registrar</button>
      </div>
    </form>
  </div>
</div>
