<div class="container" style="text-align: center; margin: 10%">
    <div style="margin: 5%">
      <h1>Registro de Usuarios</h1>
    </div>
    <div>
      <form [formGroup]="form" (submit)="aceptar()" style="display: flex; flex-direction: column; align-items: center;">
        <mat-form-field class="example-full-width" *ngIf="edicion" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Id</mat-label>
          <input matInput formControlName="hcodigo" [readonly]="isReadonly" />
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Username</mat-label>
          <input
            matInput
            placeholder="Ejem. jdiaz123"
            formControlName="husername"
          />
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Contraseña</mat-label>
          <input matInput placeholder="******" formControlName="hpassword" />
        </mat-form-field>
  
        <mat-checkbox formControlName="henabled" style="width: 100%; margin-bottom: 20px; text-align: start;">
          Enabled
        </mat-checkbox>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Nombres</mat-label>
          <input matInput placeholder="******" formControlName="hnombres" />
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Apellidos</mat-label>
          <input matInput placeholder="******" formControlName="hapellidos" />
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Correo</mat-label>
          <input
            matInput
            placeholder="Ej. jorge@example.com"
            formControlName="hcorreo"
          />
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Sitio Web</mat-label>
          <input
            matInput
            placeholder="Ej. www.google.com"
            formControlName="hsitioWeb"
          />
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Teléfono</mat-label>
          <input
            matInput
            placeholder="Ej. 987456963"
            formControlName="htelefono"
          />
        </mat-form-field>
  
        <mat-form-field class="example-full-width" style="width: 100%; margin-bottom: 20px;">
          <mat-label>Nombre empresa</mat-label>
          <input
            matInput
            placeholder="Ej. FadricStar"
            formControlName="hnombreEmpresa"
          />
        </mat-form-field>
  
        <mat-checkbox formControlName="hesPremium" style="width: 100%; margin-bottom: 20px; text-align: start;">
          Enabled
        </mat-checkbox>
  
        <div style="width: 100%; display: flex; justify-content: center;">
          <button mat-button class="custom-button" style="margin-top: 20px;">Registrar</button>
        </div>
      </form>
    </div>
  </div>
  