/* You can add global styles to this file, and also import other style files */

/* styles.css o styles.scss */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background: linear-gradient(to bottom, #001462 22%, #255ea8 49%, #23255f 88%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
