/* You can add global styles to this file, and also import other style files */

/* styles.css o styles.scss */
html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background:  linear-gradient( 
    #c3e7f1 45%,  
    #70aaf7 65%
  );  
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
